# 4.8 Task - Grouping Data & Aggregating Variables

## Contents
### Import libraries and assign path
### Import ords_prods_merge dataframe
### Aggregate mean of Order Number by Department
### Create a Spender flag
### Create a Frequency flag
### Export updated DF

# Import libraries and assign path

In [2]:
# import Libraries
import pandas as pd
import numpy as np
import os

In [4]:
# assign path
path = r'C:\Users\jkbar\OneDrive\CareerFoundry\Instacart Basket Analysis'

# Import ords_prods_merge dataframe

In [6]:
# import dataframe
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# Aggregate mean of Order Number by Department

In [ ]:
# 2.  Aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe.

In [8]:
ords_prods_merge.groupby('product_name')

In [12]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [ ]:
# 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset?

### The results are similar with ID 21, 10, & 18 being the highest

In [ ]:
# 4. Creating a loyalty flag for existing customers using the transform() and loc() functions.

In [14]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,first_order,max_order,loyalty_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,True,10,New customer
1,2539329,1,prior,1,2,8,NaN,14084,2,0,...,16,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,True,10,New customer
2,2539329,1,prior,1,2,8,NaN,12427,3,0,...,19,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,True,10,New customer
3,2539329,1,prior,1,2,8,NaN,26088,4,0,...,19,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,True,10,New customer
4,2539329,1,prior,1,2,8,NaN,26405,5,0,...,17,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,True,10,New customer

In [18]:
# this was already completed in the lesson.
# it would be done using the following commands
# ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)
#
# ords_prods_merge.groupby(['user_id'])
#
# ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
# ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
# ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

In [ ]:
#5. Use the loyalty flag you created and check the basic statistics of the product prices
#   for each loyalty category (Loyal Customer, Regular Customer, and New Customer).

In [20]:
ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

### new customers have the highest mean, while loyal customers have the lowest

# Create a Spender flag

In [ ]:
# 6. Create a spending flag for each user based on the average price across all their orders using the following criteria:
#      mean price < 10, flag as "Low spender"
#      mean price >= 10, flag as "High spender"

In [22]:
# create a column fom mean_spend
ords_prods_merge['mean_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Windows\Temp\ipykernel_2520\2085163576.py:2: FutureWarning: The provided callable <function mean at 0x000002AA0C5668E0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_spend']=ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [24]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,first_order,max_order,loyalty_flag,mean_spend
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,True,10,New customer,6.367797
1,2539329,1,prior,1,2,8,NaN,14084,2,0,...,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders,True,10,New customer,6.367797
2,2539329,1,prior,1,2,8,NaN,12427,3,0,...,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders,True,10,New customer,6.367797
3,2539329,1,prior,1,2,8,NaN,26088,4,0,...,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders,True,10,New customer,6.367797
4,2539329,1,prior,1,2,8,NaN,26405,5,0,...,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders,True,10,New customer,6.367797

In [26]:
# Create flags for high and low spenders
ords_prods_merge.loc[ords_prods_merge['mean_spend']<10,'spender_flag']='Low_spender'
ords_prods_merge.loc[ords_prods_merge['mean_spend']>= 10, 'spender_flag'] = 'High_spender'

In [28]:
# Check spender flags
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     31770614
High_spender      634245
Name: count, dtype: int64

In [30]:
pd.options.display.max_rows = 100

In [34]:
ords_prods_merge[['user_id', 'mean_spend', 'spender_flag', 'prices']].head(100)

    user_id  mean_spend spender_flag  prices
0         1    6.367797  Low_spender     9.0
1         1    6.367797  Low_spender    12.5
2         1    6.367797  Low_spender     4.4
3         1    6.367797  Low_spender     4.7
4         1    6.367797  Low_spender     1.0
5         1    6.367797  Low_spender     9.0
6         1    6.367797  Low_spender     3.0
7         1    6.367797  Low_spender     4.4
8         1    6.367797  Low_spender    10.3
9         1    6.367797  Low_spender     4.7
10        1    6.367797  Low_spender     4.0
11        1    6.367797  Low_spender     9.0
12        1    6.367797  Low_spender     4.4
13        1    6.367797  Low_spender     3.0
14        1    6.367797  Low_spender     8.6
15        1    6.367797  Low_spender     3.2
16        1    6.367797  Low_spender     9.0
17        1    6.367797  Low_spender     4.4
18        1    6.367797  Low_spender     3.0
19        1    6.367797  Low_spender     8.6
20        1    6.367797  Low_spender     1.0
21        1    6.367797  Low_spender     9.0
22        1    6.367797  Low_spender     4.4
23        1    6.367797  Low_spender     3.0
24        1    6.367797  Low_spender     8.6
25        1    6.367797  Low_spender     2.7
26        1    6.367797  Low_spender    14.0
27        1    6.367797  Low_spender     5.0
28        1    6.367797  Low_spender    10.3
29        1    6.367797  Low_spender     9.0
30        1    6.367797  Low_spender     4.4
31        1    6.367797  Low_spender     3.0
32        1    6.367797  Low_spender     8.6
33        1    6.367797  Low_spender     9.0
34        1    6.367797  Low_spender     3.0
35        1    6.367797  Low_spender     4.4
36        1    6.367797  Low_spender     8.6
37        1    6.367797  Low_spender     4.0
38        1    6.367797  Low_spender     4.4
39        1    6.367797  Low_spender     9.0
40        1    6.367797  Low_spender     3.0
41        1    6.367797  Low_spender     8.6
42        1    6.367797  Low_spender    13.4
43        1    6.367797  Low_spender     1.8
44        1    6.367797  Low_spender     1.8
45        1    6.367797  Low_spender    13.4
46        1    6.367797  Low_spender     8.6
47        1    6.367797  Low_spender     9.0
48        1    6.367797  Low_spender     3.0
49        1    6.367797  Low_spender     4.4
50        1    6.367797  Low_spender     9.0
51        1    6.367797  Low_spender    13.4
52        1    6.367797  Low_spender     6.8
53        1    6.367797  Low_spender    12.6
54        1    6.367797  Low_spender     8.6
55        1    6.367797  Low_spender     3.0
56        1    6.367797  Low_spender     1.3
57        1    6.367797  Low_spender     4.0
58        1    6.367797  Low_spender     4.4
59        2    7.515897  Low_spender     5.2
60        2    7.515897  Low_spender     6.3
61        2    7.515897  Low_spender     2.3
62        2    7.515897  Low_spender    10.9
63        2    7.515897  Low_spender     2.7
64        2    7.515897  Low_spender     4.1
65        2    7.515897  Low_spender     5.0
66        2    7.515897  Low_spender     9.4
67        2    7.515897  Low_spender    14.8
68        2    7.515897  Low_spender     7.5
69        2    7.515897  Low_spender     4.4
70        2    7.515897  Low_spender    10.3
71        2    7.515897  Low_spender     2.5
72        2    7.515897  Low_spender     1.3
73        2    7.515897  Low_spender     2.0
74        2    7.515897  Low_spender     3.5
75        2    7.515897  Low_spender     6.3
76        2    7.515897  Low_spender     3.9
77        2    7.515897  Low_spender     2.0
78        2    7.515897  Low_spender     6.3
79        2    7.515897  Low_spender     5.2
80        2    7.515897  Low_spender     2.3
81        2    7.515897  Low_spender     6.6
82        2    7.515897  Low_spender     6.2
83        2    7.515897  Low_spender     7.1
84        2    7.515897  Low_spender     5.2
85        2    7.515897  Low_spender     7.5
86        2    7.515897  Low_spender     5.8
87        2    7.515897  Low_spender     8.9
88        2    7.515897  Low_spender     9.1
89        2    7.515897  Low_spender     5.5
90        2    7.515897  Low_spender    12.3
91        2    7.515897  Low_spender     4.0
92        2    7.515897  Low_spender    10.8
93        2    7.515897  Low_spender    12.6
94        2    7.515897  Low_spender     2.0
95        2    7.515897  Low_spender     5.9
96        2    7.515897  Low_spender    14.0
97        2    7.515897  Low_spender     2.9
98        2    7.515897  Low_spender     1.6
99        2    7.515897  Low_spender     3.4

# Create a Frequency flag

In [ ]:
# 7. Create an order frequency flag that marks the regularity of a user’s ordering behavior
#    according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
#      median of “days_since_last_order” > 20, then flag as “Non-frequent customer"
#      median of “days_since_last_order” > 10 & <= 20, then flag as “Regular customer"
#      median of “days_since_last_order” < 10, then flag as “Frequent customer"

In [36]:
# create a column for frequent customers
ords_prods_merge['customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

C:\Windows\Temp\ipykernel_2520\4129993927.py:2: FutureWarning: The provided callable <function median at 0x000002AA0C695620> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [40]:
# Creating flag on order frequency
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] > 20, 'frequency_flag'] = 'Non_frequent_customer'
ords_prods_merge.loc[(ords_prods_merge['customer_frequency']>10) & (ords_prods_merge['customer_frequency']<=20),'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [42]:
# Check frequency flags
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent Customer        21406675
Regular customer          7300219
Non_frequent_customer     3697605
NaN                           360
Name: count, dtype: int64

In [ ]:
 # the NaN values correspond to customers that have only had one purchase

In [46]:
ords_prods_merge[['user_id','days_since_last_order', 'customer_frequency', 'frequency_flag']].head(100)

    user_id  days_since_last_order  customer_frequency         frequency_flag
0         1                    NaN                21.0  Non_frequent_customer
1         1                    NaN                21.0  Non_frequent_customer
2         1                    NaN                21.0  Non_frequent_customer
3         1                    NaN                21.0  Non_frequent_customer
4         1                    NaN                21.0  Non_frequent_customer
5         1                   15.0                21.0  Non_frequent_customer
6         1                   15.0                21.0  Non_frequent_customer
7         1                   15.0                21.0  Non_frequent_customer
8         1                   15.0                21.0  Non_frequent_customer
9         1                   15.0                21.0  Non_frequent_customer
10        1                   15.0                21.0  Non_frequent_customer
11        1                   21.0                21.0  Non_frequent_customer
12        1                   21.0                21.0  Non_frequent_customer
13        1                   21.0                21.0  Non_frequent_customer
14        1                   21.0                21.0  Non_frequent_customer
15        1                   21.0                21.0  Non_frequent_customer
16        1                   29.0                21.0  Non_frequent_customer
17        1                   29.0                21.0  Non_frequent_customer
18        1                   29.0                21.0  Non_frequent_customer
19        1                   29.0                21.0  Non_frequent_customer
20        1                   29.0                21.0  Non_frequent_customer
21        1                   28.0                21.0  Non_frequent_customer
22        1                   28.0                21.0  Non_frequent_customer
23        1                   28.0                21.0  Non_frequent_customer
24        1                   28.0                21.0  Non_frequent_customer
25        1                   28.0                21.0  Non_frequent_customer
26        1                   28.0                21.0  Non_frequent_customer
27        1                   28.0                21.0  Non_frequent_customer
28        1                   28.0                21.0  Non_frequent_customer
29        1                   19.0                21.0  Non_frequent_customer
30        1                   19.0                21.0  Non_frequent_customer
31        1                   19.0                21.0  Non_frequent_customer
32        1                   19.0                21.0  Non_frequent_customer
33        1                   20.0                21.0  Non_frequent_customer
34        1                   20.0                21.0  Non_frequent_customer
35        1                   20.0                21.0  Non_frequent_customer
36        1                   20.0                21.0  Non_frequent_customer
37        1                   20.0                21.0  Non_frequent_customer
38        1                   14.0                21.0  Non_frequent_customer
39        1                   14.0                21.0  Non_frequent_customer
40        1                   14.0                21.0  Non_frequent_customer
41        1                   14.0                21.0  Non_frequent_customer
42        1                   14.0                21.0  Non_frequent_customer
43        1                   14.0                21.0  Non_frequent_customer
44        1                    NaN                21.0  Non_frequent_customer
45        1                    NaN                21.0  Non_frequent_customer
46        1                    NaN                21.0  Non_frequent_customer
47        1                    NaN                21.0  Non_frequent_customer
48        1                    NaN                21.0  Non_frequent_customer
49        1                    NaN                21.0  Non_frequent_customer
50        1                   30.0                21.0  Non_frequent_customer
51        1                   30.0                21.0  Non_frequent_customer
52        1                   30.0                21.0  Non_frequent_customer
53        1                   30.0                21.0  Non_frequent_customer
54        1                   30.0                21.0  Non_frequent_customer
55        1                   30.0                21.0  Non_frequent_customer
56        1                   30.0                21.0  Non_frequent_customer
57        1                   30.0                21.0  Non_frequent_customer
58        1                   30.0                21.0  Non_frequent_customer
59        2                    NaN                13.0       Regular customer
60        2                    NaN                13.0       Regular customer
61        2                    NaN                13.0       Regular customer
62        2                    NaN                13.0       Regular customer
63        2                    NaN                13.0       Regular customer
64        2                    NaN                13.0       Regular customer
65        2                    NaN                13.0       Regular customer
66        2                    NaN                13.0       Regular customer
67        2                    NaN                13.0       Regular customer
68        2                    NaN                13.0       Regular customer
69        2                    NaN                13.0       Regular customer
70        2                    NaN                13.0       Regular customer
71        2                    NaN                13.0       Regular customer
72        2                   10.0                13.0       Regular customer
73        2                   10.0                13.0       Regular customer
74        2                   10.0                13.0       Regular customer
75        2                   10.0                13.0       Regular customer
76        2                   10.0                13.0       Regular customer
77        2                   10.0                13.0       Regular customer
78        2                    3.0                13.0       Regular customer
79        2                    3.0                13.0       Regular customer
80        2                    3.0                13.0       Regular customer
81        2                    3.0                13.0       Regular customer
82        2                    3.0                13.0       Regular customer
83        2                    8.0                13.0       Regular customer
84        2                    8.0                13.0       Regular customer
85        2                    8.0                13.0       Regular customer
86        2                    8.0                13.0       Regular customer
87        2                    8.0                13.0       Regular customer
88        2                    8.0                13.0       Regular customer
89        2                    8.0                13.0       Regular customer
90        2                    8.0                13.0       Regular customer
91        2                    8.0                13.0       Regular customer
92        2                    8.0                13.0       Regular customer
93        2                    8.0                13.0       Regular customer
94        2                    8.0                13.0       Regular customer
95        2                    8.0                13.0       Regular customer
96        2                    8.0                13.0       Regular customer
97        2                    8.0                13.0       Regular customer
98        2                    8.0                13.0       Regular customer
99        2                    8.0                13.0       Regular customer

In [ ]:
# check for prices over $100
ords_prods_merge.loc[ords_prods_merge['prices'] > 100]

In [ ]:
# mark prices over $100 as missing
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [ ]:
ords_prods_merge['prices'].max()

# Export updated DF

In [48]:
#9 Export datafame as a pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))